pipeline/PL_util_send_email_notifications.json
{
	"name": "PL_util_send_email_notifications",
	"properties": {
		"description": "This is a utility pipeline that sends email notifications",
		"activities": [
			{
				"name": "Get Email Address",
				"description": "Gets the Email Recipients for a specific system code and dataset name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetEmailAddresses]",
						"storedProcedureParameters": {
							"DatasetName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.datasetName",
									"type": "Expression"
								}
							},
							"SystemCode": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.systemCode",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_asql_email_address",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Email Address",
				"description": "Send a message to each email address",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Email Address",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Email Address').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Send Email",
							"description": "Send Email notification",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-17.northcentralus.logic.azure.com:443/workflows/0f0a4b5f13574610b61408c9e4044a18/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=MBeO71InCTsYsGSReophEW_TS6vkGVsWdcaPO2MR_Y4",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@json(concat('{\n\"emailAddress\":\"',item().emailAddress,'\",\n\"subject\":\"ADF Pipeline (PL_data_ingestion_json)\",\n\"messageBody\":\"ingestion of Web store Data into the Data lake has completed successfully\"\n}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"systemCode": {
				"type": "string",
				"defaultValue": "OWS"
			},
			"datasetName": {
				"type": "string",
				"defaultValue": "Sales"
			}
		},
		"folder": {
			"name": "utility"
		},
		"annotations": [],
		"lastPublishTime": "2022-03-06T14:22:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}